body {
    background-color: rgb(185, 254, 234);
}

h1 {
    font-size: 75px;
    color: rgb(43, 122, 226);
    font-weight: bold;
    text-align: center;
    font-family: copperplate, papyrus, fantasy
}

li {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace
}

.odd {
    color: rgb(229, 127, 255);
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace
}